# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Development
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
dist-ssr
*.local

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Npm 
.npmrc

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Infrastructure
infrastructure/docker/.env
!infrastructure/docker/.env.example
infrastructure/local/*
!infrastructure/local/.gitkeep

# Misc
.cursorrules

# Prisma
packages/database/node_modules
packages/database/.env
packages/database/dist